page-feedback {
  *{
    margin: 0;
    padding: 0;
  }
  .content{
    .feedback{
      background-color: #3BD065;
      width: 100%;
      height: 80px;
      span {
        width: 100%;
        position: absolute;
        top: 25px;
        left: 0;
        color: #fff;
        font-size: 20px;
        text-align: center;
      }
      .spa1{
        position: absolute;
        top: 23px;
        width: 40px;
        height: 40px;
        z-index: 3;
        text-align: center;
        img{
          margin-top:8px;
        }
      }
    }
    .nishishui{
      padding: 15px;
      .content{
        position: relative;
        margin-bottom: 20px;
        .text_content{
          width: 100%;
          border: 1px solid #9D9D9D;
          padding-bottom: 70px;
          border-radius: 8px;
          padding-top: 5px;
          padding-left: 5px;
        }
        .assist{
          position: absolute;
          top: 5px;
          left: 5px;
          z-index:-1;
        }
      }
      input{
        width: 100%;
        height: 30px;
        border: none;
        border-bottom: 1px solid #ddd;
      }
    }
    .submit{
      width: 40%;
      margin: 0 auto;
      background-color: #3BD065;
      border-radius: 8px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: #fff;
      margin-top: 30%;
    }
  }
}
