.ion-ios-regist:before {
  content: url("../assets/fonts/regist.png");
}
.ion-ios-login:before {
  content: url("../assets/fonts/login.png");
}
.ion-ios-phone1:before {
  content: url("../assets/fonts/phone.png");
}
.ion-ios-code:before {
  content: url("../assets/fonts/yanzhengma.png");
}
.ion-ios-setting:before {
  content: url("../assets/fonts/setting.png");
}
.ion-ios-Alert:before {
  content: url("../assets/fonts/Alert.png");
}
.ion-ios-backpage:before {
  content: url("../assets/fonts/back.png");
}
.ion-ios-ALert:before {
  content: url("../assets/fonts/yongyao.png");
}
.ion-ios-Search:before {
  content: url("../assets/fonts/Search.png");
}
.ion-ios-jibing:before {
  content: url("../assets/fonts/jibing.png");
}
.ion-ios-yaofang:before {
  content: url("../assets/fonts/yaofang.png");
}
.ion-ios-refres:before {
  content: url("../assets/fonts/refres.png");
}

