<!--
  Generated template for the CommentSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="content">
  <div class="comment">
    <img src="./assets/imgs/search.png" alt="" class="img1">
    <input  type="text"  placeholder="搜索健康说标题" class="input1" (keyup)="commentSearch()" [(ngModel)]="search">
    <span (tap)="nav.backPage()">取消</span>
  </div>
  <ul class="u1">
    <li *ngFor="let item of querylist; index as i;" class="item.question_id" (tap)="sum_skip(item,item.question_id)">
      <p class="p4">
        <img src="./assets/imgs/1.jpg" alt="">
        <span style="color: #2b3642">{{item.nickname}}</span>
      </p>
      <p class="p17">{{item.dateTime}}</p>
      <p style="margin-bottom: 10px">{{item.title}}</p>
      <span style="color: #666666" [innerHTML]="item.content1"></span>
      <div class="picture">
        <img *ngIf="item.picture" [src]="item.picture" alt="">
        <img *ngIf="item.picture2" [src]="item.picture2" alt="">
        <img *ngIf="item.picture3" [src]="item.picture3" alt="">
      </div>
      <div class="div1">
        <p>
          <img src="../assets/fonts/like.png" alt="">
          <span>{{item.view_count}}</span>
        </p>
        <p class="p5">
          <img src="../assets/fonts/reply.png" alt="">
          <span>{{item.num}}</span>
        </p>
      </div>
    </li>
  </ul>
</ion-content>
